doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js')
  body
    block content
    script(src='/javascripts/main.js')
